PORT=8000
JWT_SECRET=your-secret

MONGODB_URI=your-mongodb-uri

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CLOUDINARY_VIDEO_FOLDER=streamhub-videos
CLOUDINARY_VIDEO_MODERATION=true
CLOUDINARY_MODERATION_MOCK=false
